/* Genel Sayfa Ayarları */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
header nav ul li a:hover {
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
}


.intro-section {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-bottom: 2px solid #ccc;
}

.intro-section img {
    max-width: 300px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

blockquote {
    font-size: 1.5em;
    font-style: italic;
    margin: 20px 0;
    color: #666;
}

.biography-section, .works-section {
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.biography-section h2, .works-section h2 {
    color: #333;
    text-align: center;
    margin-bottom: 15px;
}

.biography-section p, .works-section ul {
    font-size: 1.2em;
    line-height: 1.6;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
